{% extends "base.html" %}
{% block content %}
    <h2>About Page</h2>
    <p>
        Thorin Oakenshield and Company, also known as the Company of Thorin Oakenshield, and called significantly as
        Thorin and Company are a group featured in Peter Jackson's The Hobbit film series. They were a group of thirteen
        dwarves, a wizard, and a hobbit.
        They are based on the group of the same name from The Hobbit by J. R. R Tolkien.
    </p>

    <div class="row featurette">
        <div class="col-md-7">
            <h3>Thorin Oakenshield</h3>
            <p>
                Thorin II was born in TA 2746 to Dwarf prince Thráin II in the city of the Lonely Mountain. Early in his
                youth, he and the other Dwarves of the Lonely Mountain were forced to flee by the dragon Smaug in TA
                2770. While in exile, he quickly grew to become a capable warrior. This was demonstrated when he
                participated in the Battle of Azanulbizar in TA 2799. He fought with one of the Dwarven armies beneath
                the East-gate of Moria. At some point in the fighting, his shield broke, and using an oaken tree branch
                found on the ground as a shield, he gained the epithet "Oakenshield," which would remain with him even
                in death.[2]

                Thorin became King-in-Exile of Durin's Folk in TA 2850 after his father went missing, and died in the
                dungeons of Dol Guldur.
            </p>
        </div>

        <div class="col-md-5">
            <img src="https://lotr.fandom.com/wiki/Thorin_II_Oakenshield?file=ThorinTDOMTextlessPoster.jpg" alt="Thorin">
        </div>
    </div>

    <div class="row feature">
        <div class="col-md-5">
            <img src="https://lotr.fandom.com/wiki/F%C3%ADli_and_K%C3%ADli?file=The-Hobbit-Fili-and-Kili.jpg" alt="#">
        </div>
        <div class="col-md-7">
            <h3>Fili & Kili</h3>
            <p>
                Fíli and Kíli were brothers, the youngest of the thirteen Dwarves who set out with Thorin Oakenshield's
                company, along with Gandalf and Bilbo Baggins, to reclaim the Lonely Mountain from the dragon Smaug.
            </p>
        </div>
    </div>
{% endblock %}
